.main {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.secondDiv {
    display: flex;
    margin: 15px;
    padding: 5px;
}

.Name {
    margin-left: 15px;
}

.Result {
    margin-left: 15px;
}